# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Project specific
output_dev/
output_train/
Final_Report.docx
problem_statement.md
.DS_Store
